
.App {
    width: 100vw;               /* Garante que a largura ocupa 100% da viewport */
    height: 100vh;              /* Garante que a altura ocupa 100% da viewport */
    background-image: url('/src/assets/imagem.jpg'); /* Caminho relativo no projeto */
    background-size: cover;     /* Garante que a imagem cubra toda a área do fundo */
    background-position: center; /* Centraliza a imagem no fundo */
    background-repeat: no-repeat; /* Evita repetição da imagem */
    background-color: rgba(241, 241, 241, 0.068);

}


  

