.App {
    width: 100vw;
    min-height: 100vh;
    background-image: 
      linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
      url('/src/assets/imagem.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  
  /* Evita overflow horizontal em toda a página */
  html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;  /* Remove o scroll horizontal */
    width: 100%;
  }
  
  /* Garante que a landing-page ocupe 100% da largura e não ultrapasse a tela */
  .landing-page {
    width: 100%;  /* Garante que ocupe a tela inteira */
    max-width: 100%; /* Não ultrapassa a tela */
    overflow-x: hidden; /* Remove o scroll horizontal */
    margin: 0;
    padding: 0;
  }
  
  /* Estilos para a animação de scroll */
  .scroll-effect {
    opacity: 0;
    transform: translateY(20px); /* Começa um pouco abaixo */
    transition: opacity 2s ease-in-out, transform 2s ease-in-out; /* Transição suave */
  }
  
  /* Quando o elemento estiver visível, ele recebe a classe 'visible' */
  .scroll-effect.visible {
    opacity: 1;
    transform: translateY(0); /* O texto retorna à sua posição original */
  }
  
  /* Ajustes para o overflow do corpo e da página */
  body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;  /* Remove o scroll horizontal */
  }

  
  