* {
  color: wheat;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}




/* Centraliza o contêiner principal */
.landing-page {
  display: flex;
  flex-direction: column; /* Mantém os elementos em uma coluna */
  align-items: center;    /* Centraliza horizontalmente */
  justify-content: center; /* Centraliza verticalmente */
  min-height: 100vh;      /* Garante que o contêiner ocupe a altura total da viewport */
  text-align: center;     /* Centraliza o texto */
  padding: 20px;
  box-sizing: border-box;
}

.primeira-section, .sobre-section, .funcionalidades-section, .db-section, .dashboard-section, .button-footer {
  margin: 20%;
  max-width: 800px;
  width: 100%;
}

/* Hero Section */
.primeira-section h1 {
  font-weight: 900;
  font-size: 60px;
  padding-bottom: 50px;
}

.primeira-section p, .demons-button {
  font-size: 30px;
  font-weight: 600;
}

.demons-button {
  padding: 12px 24px;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}

/* Estilos gerais para a seção "Sobre" */
.sobre-section {
  padding: 60px 20px;
  background-color: #222;
  text-align: center;
  
}
.sobre-section >  {
  font-weight: 900;
}

.sobre-software {
  max-width: 800px;
  margin: 0 auto;
  
}

.sobre-section h2 {
  font-size: 36px;
  font-weight: 900;
  margin-bottom: 20px;
  font-weight: 900;
  font-size: 60px;
  
}

.sobre-section p {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6;
  margin-bottom: 20px;
}

.sobre-section ul {
  list-style-type: none;
  padding: 0;
}

.sobre-section ul li {
  font-size: 18px;
  padding: 5px 0;
  
}

.funcionalidades-section h2, .sobre-software h2, .db-section h2, .dashboard-section h2, .button-footer h2 {
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 30px;
}

.funcionalidades-section .todas-funcionalidades {
  margin-bottom: 20px;
}

/* Estilos das funcionalidades */
.todas-funcionalidades h3 {
  font-size: 24px;
  font-weight: 700;
}

.todas-funcionalidades p {
  font-size: 16px;
  font-weight: 400;
}

.funcionalidades-section {
  background-color: #333;
  padding: 40px 0;
}

.db-section {
  background-color: #444;
  padding: 40px 0;
}

.dashboard-section {
  background-color: #555;
  padding: 40px 0;
}

.button-footer {
  background-color: #7391b1;
  padding: 40px 0;
}

/* Estilo dos botões */
.demons-button {
  padding: 12px 24px;
  background-color: #7391b1;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}

.button-footer .demons-button {
  background-color: #0fad34;
}

/* Tornar a navbar fixa no topo */
.navbar {
  position: fixed; /* Fixa a navbar no topo */
  top: 0;          /* No topo da página */
  left: 0;         /* Alinhada à esquerda */
  width: 100%;     /* Ocupa toda a largura da tela */
  z-index: 999;    /* Garante que a navbar fique acima de outros elementos */
  padding: 10px 0; /* Ajuste do espaçamento superior e inferior */
}

/* Adiciona um espaçamento superior no conteúdo para não sobrepor a navbar */
.landing-page {
  padding-top: 100px; /* Ajuste conforme a altura da sua navbar */
}

/* Seções */
.primeira-section, .funcionalidades-section, .db-section, .dashboard-section, .button-footer {
  margin-top: 20px; /* Ajuste se necessário para dar mais espaçamento entre a navbar e o conteúdo */
}

#sobre, #funcionalidades {
  scroll-margin-top: 90px; /* Ajuste conforme a altura da navbar */
}

