.flex-container {
    display: flex;
    justify-content: center;
    align-items: end;
   
}

.card{
    text-align: center;
    width: 100vw;
    height: 92vh;
    background-color: rgba(160, 157, 157, 0.596);
    border-radius:  0px;

    
}